.queryCt {
    font-size: 16px;
    padding: 0px 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0.25vh;
}

.productMenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pageTitle {
    float: left;
    font-size: 1.5rem;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
}

.listTitle {
    font-size: 1.5rem;
    align-items: center;
    margin-bottom: 1.5rem;
}

.queryMenu {
    float: right;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin: 2vh 0;
    column-gap: 3vw;
}

.queryMenu:hover {
    cursor: pointer;
}

.filterChild {
    display: flex;
    position: relative;
    z-index: 3;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.filterCollapse {
    overflow: hidden;
    display: flex;
    z-index: 3;
}

.filterCollapse:hover .filterParent {
    border: 1px solid white;
    color: white;
}

.filterParent {
    font-size: 14px;
    color: white;
    background-color: inherit;
    margin: 0;

    border: 1px solid white;
    border-radius: 20px;
    font-size: 16px;
    color: white;
    padding: 10px;
    width: 100px;
    text-align: center;
}

.filterDrop {
    display: none;
    flex-direction: column;
    background-color: black;
    outline: 5px solid black;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255,0.2);
    z-index: 3;

    color: white;
    text-decoration: none;
    text-align: left;
}

.filterChild:hover {
    background-color: var(--green);
}

.filterCollapse:hover .filterDrop {
    display: flex;
    flex-direction: column;
    z-index: 3;
}

.queryResult {
    color: white;
    padding: 20px
}

.card {
    background-color: #121212;
    border-radius: 17px;
    padding: 8px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 20vw;
    font-size: 10px;
    cursor: pointer;
}

.card:hover {
    background-color: #1a1a1a;
    transition: ease-out;
    transition-duration: 0.5s;
    scale: 1.05;
}

.card:active {
    background-color: #000;
}

.cardImage {
    width: 19vw;
    height: 30vh;
    object-fit: cover;
    border-radius: 0.5rem;
    margin-top: 1vh;
    margin-bottom: 2vh;
}

.productdesc {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 90%;
    height: auto;
}

.productTitle {
    font-size: 1.6rem;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.price {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 2.5px;
}

.stockCategory {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.category, .stock {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
}

.cardIcon {
    width: 2vw;
    height: 2vh;
    object-fit: cover;
    margin-right: 0.5rem;
}

.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    margin: 5vh 0;
}

.page {
    font-size: 1rem;
    color: white;
    padding: 5px;
    width: 2.5rem;
    text-align: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 3rem;
}

.pageCurr {
    font-size: 1rem;
    color: white;
    background-color: #282828;
    padding: 5px;
    width: 2.5rem;
    text-align: center;
    align-items: center;
    border: 1px solid #282828;
    border-radius: 3rem;
}

.page:hover {
    cursor: pointer;
}