/* Basic Structure */
html, body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    background-attachment: fixed;
}

/* Links */
a {
    color: var(--green);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: var(--green-hover);
    text-decoration: none;
}

/* Navbar */
.indexCt {
    background-color: var(--black);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
    margin: auto;
}

.bigText img {
    width: 5vw;
}

/* Redirection */
.redirect {
    color: white;
    font-family: "Arial";
    font-size: 16px;
}

/* Responsive design */
.mobile-only {
    display: block;
}

.desktop-only {
    display: none;
}

@media only screen and (min-width: 768px) {
    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }
}

/* Main as section */
section {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    section {
        width: 90%;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-disabled);
    border-radius: 5px;
}